*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img {
    width: 100%;
    display: block;
    height: auto;
}

html {
background-color: #F5F0E3;
}
.color1 {
    color: #090284 ;


}



h1{
    font-family: Dance;
    src: url(Dance.ttf);
}