* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

html {
  height: 100%;
  background-color: #f5f0e3;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Farver */
.color1 {
  color: #090284;
}

@font-face {
  font-family: Dance;
  src: url(Dance.ttf);
}

h1 {
  font-family: Dance;
  text-align: center;
  margin: 40px 0px 60px 0px;
  font-size: 45px;
}

h2 {
  font-family: Dance;
}

title {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

button {
  display: inline-block;
  transition: scale 33ms ease-in-out;
  border: none;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
