* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

html {
  background-color: #f5f0e3;
}
.color1 {
  color: #090284;
}

h1 {
  font-family: Dance;
  src: url(Dance.ttf);
  text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
