---
import "../styles/layout.css";
import Header from "../components/Header.astro";
import Lineup from "../components/Lineup.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Indexpictures from "../components/Indexpictures.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <p></p>

    <Lineup />
		<Button variant="primary" size="medium" placement="index">Tickets</Button> 
    <Indexpictures />

    <Footer />
  </body>
</html>
