---
import "../styles/layout.css";
import Header from "../components/Header.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<p>Forside  billede</p>
		<h1>KUNE FESTIVAL 2023</h1>
		<h2>MUSIC</h2>
		<p>alle kunsterne</p>
	</body>
</html>
