---
import "../styles/layout.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ArtistCard from "../components/ArtistCard.astro";
import Shelf from "../components/Shelf.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lineup</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>LINE UP</h1>
      <Shelf>
        <ArtistCard title="artistnavn" date="date" />
      </Shelf>
    </main>
    <Footer />
  </body>
</html>
