---
const url = "https://khhvghmfzoaeprjccskz.supabase.co/rest/v1/Artist";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoaHZnaG1mem9hZXByamNjc2t6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3OTAyNDksImV4cCI6MTk5NDM2NjI0OX0.LqNK9UlCBAJbKi1e7sc59yZSImY3rduKvskTQvs3rzY",
  },
};
const response = await fetch (url, options);
const data = await response.json()
console.log(data);
import "../styles/layout.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ArtistCard from "../components/ArtistCard.astro";
import Shelf from "../components/Shelf.astro";
import BurgerMenu from "../components/BurgerMenu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Lineup</title>
  </head>
  <body>
    <Header />
    <BurgerMenu />
    <main>
      <h1>LINE UP</h1>
      <Shelf>


     {data.map((act)=>{
      return <ArtistCard Artist={act.Artist} Date={act.Date} img={act.img}/>
     })}
     
      </Shelf>
    </main>
    <Footer />
  </body>
</html>
