---
import Button from "./Button.astro";
---

<footer class="grid_footer">
  <div class="item1">
    <h2 class="footer_title">Contact</h2>
    <div class="logo">
      <a href="https://www.instagram.com/kunekbh/"><img src="img/instagram.webp" /></a>
      <a href="https://www.facebook.com/kunekbh"><img src="img/fb_logo.webp" /></a>
    </div>
    <p>contact@kunekbh.com</p>
  </div>
  <div class="vl"></div>
  <div class="item2">
    <h2 class="footer_title">Kune Festival 2023</h2>
    <p>Ungdomsøen, 1433 København</p>
    <p>19 - 23th July</p>
    <Button variant="secondary" size="small" placement="footer">Tickets</Button>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem 2rem 3rem;
    background-color: #090284;
  }
  @media (min-width: 800px) {
    .grid_footer {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 10px;
    }
  }
  .item1 {
    grid-column: 1 / span 2;
  }
  .item2 {
    grid-column: 4 / span 6;
    text-align: center;
  }

  @media (min-width: 800px) {
    .vl {
      border-left: 1px solid #f5f0e3;
      height: 250px;
    }
  }

  .footer_title {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 3rem;
    margin-top: 30px;
    color: #f5f0e3;
  }

  p {
    line-height: 3.5rem;
    color: #f5f0e3;
  }

  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80px;
    column-gap: 10px;
    margin: 10px 0px 10px 0px;
  }
</style>
