<header>
    <nav>
    <ul>
        <li><a href="lineup.astro" class="link">Lineup</a></li>
        <li><a href="volenteer.astro" class="link">Volenteer</a></li>
        <li><a href="index.astro"><img class="logo" src="img/logo.webp" alt="billede"></a></li>
        <li><a href="info.astro" class="link">Info</a></li>
        <li><a href="tickets.astro" class="link">Tickets</a></li>
    </ul>
    </nav>
</header>


<style>

header{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.logo{
    width: 6rem;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: large;
    margin-top: 6rem;
    list-style-type: none;
}
ul{
text-align: center;
list-style-type: none;
display: flex;
}
</style>