
    <ul>
        <li><a href="lineup.astro" class="link">Lineup</a></li>
        <li><a href="volenteer.astro" class="link">Volenteer</a></li>
        <li><a href="index.astro"><img class="logo" src="img/logo.webp" alt="billede"></a></li>
        <li><a href="info.astro" class="link">Info</a></li>
        <li><a href="tickets.astro" class="link">Tickets</a></li>
       

    </ul>



<style>


header{
    padding: 4xpx;
    margin: auto;
    display: flex;
    align-items:baseline;
    justify-content: space-between; 
    color: #FFFFFF;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 15px;
}
</style>