<a href="/volenteer"><h1>VOLENTEER</h1></a> 

<div class="grid_1-1-1">

<a href="/volenteer"><img src="img/hyggekrog.webp" alt="hyggekrog"></a> 
<a href="/volenteer"><img src="img/fiskenet.webp" alt="fiskenet"></a> 
<a href="/volenteer"><img src="img/bænk.webp" alt="bænk"></a> 
</div>

<a href="/info"><h1>ABOUT US</h1></a> 

<div class="grid_1-1-1-1">
<img src="" alt="">
<a href="/info"><img src="img/øhygge.webp" alt="øhygge"></a>
<a href="/info"><img src="img/vejvisning.webp" alt="vejvisning"></a>
<img src="" alt="">
</div>

<style>


a {
    text-decoration: none;
  }

  h1{
    color: black;
  }

  img {
   border-radius: 22px;
  margin-bottom: 2rem;
  }
@media (min-width:750px){

  img {
   border-radius: 22px;
    max-height: 250px;
  }
  
.grid_1-1-1 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 2rem ;
 margin-top: 2rem;
 margin-left: 2rem;
 margin-right: 2rem;
 margin-bottom: 4rem;
  }
  .grid_1-1-1-1 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 2rem ;
 margin-top: 2rem;
 margin-left: 2rem;
 margin-right: 2rem;
 margin-bottom: 4rem;
  }

  h1:hover{
    color:#090284  ;
  
}


  img:hover{
    scale: 1.1;
  }


}
</style>
