---
const { title, body, imgPath} = Astro.props;

---
<div class="grid_1-1">
   
<figure>
<img src={imgPath} alt="" height="200" width="200" />
</figure>


<article>
<h2>{title}</h2>
<p>{body}</p>
</article>

</div>




<style>
@media (min-width: 701px){
 [data-placement="lefttext"]{
text-align: left;

 }

 [data-placement="righttext"]{
text-align: right;
 }

 .grid_1-1{
    display: flex;
    grid-template-columns: 1fr 1fr;
   max-width: 900px;
     place-items: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 70px;
    margin-bottom: 40px;
 }

 a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: larger;
 }

 img{
    border-radius: 22px;
    min-width: 300px;
 }

 article{
    margin-left: 6rem;
 }

 p{
    margin-top: 1rem;
    line-height: 21px;
    letter-spacing: 0.2px;
    font-family:"Montserrat", sans-serif;
 }}

 @media (max-width: 700px){
 a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: larger;
    margin-top: 20px;
 }
 img{
    border-radius: 22px;
    min-width: 200px;
    margin-top: 10px;
 }
h2{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 10px;
}

 p{
    margin-top: 1rem;
    line-height: 21px;
    text-align: right:;
    max-width: 300px;
    align-self: center;
    margin: auto;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
    font-family:"Montserrat", sans-serif;
 }
 }

</style>