<h1>KUNE FESTIVAL 2023</h1>
<h2>MUSIC</h2>
<p>Accelerationism • Alfredo92 Ben • Charlotte Bendiks • Cirkeline • Dingo Tracks • Dj Algrorythm • Dj Tool • Hekt • Hvad • Interflow • James Lotion • Jesper Mygind • Jinsu Vixxe • Kristian Andersen • Lasse vind • Lundrønde • Matriark • O blom • Ohm • Omformer • Palma • Parallax Deep • Philippa Pacho • Popmix • Raziq • Rut Meyersson • Samir Yosufi • Systeema • Thorgerdur Johanna • Tight Cherry • Ts Kahuna • Vivien Oldy • Vixen • Woody92 • Xuri</p>
<h2>VISUALS</h2>
<p>10% Human Collective • AB/DX • Alex Rosado • Aural Eye • Dogon • Jonas Johansson • Kristian Nihlen • Pm • Paketa12 • Pleasure Control • Spherical Aberration • Tsv </p>
<h2>ART INSTALLATIONS</h2>
<p>B612 • Circuit circus • Daniel Rosca • Daniela Stoian • Davide Hjort Di Fabio • Horizontology • Sancho Sculptures </p>
<h2>WORKSHOPS</h2>
<p>Free writing • Interactive Ai drawing • Kite building • Kundalili Yoga storytelling act • Vibroacousticks • Vinyasa Yoga • Yoga & Ambient live set </p>
<style>

h1{
    text-align: center;
    font-family: Montserrat, sans-serif; 
}
h2{
    text-align: center;
    margin-top: 1rem;
    font-family: Montserrat, sans-serif; 
}
p{
    text-align: center;
    margin-top: 1rem;
    margin-left: 31%;
    margin-right: 31%;
    font-family: Montserrat, sans-serif; 
    font-style: ;
    text-transform: uppercase;

}

</style>