---
const {overskrift, imgPath} = Astro.props;
---

<div class="container">
    <img src={imgPath} alt="forsidebillede">
    <div class="centered">
        <h1>{overskrift}</h1>
    </div>
    </div>

<style>
     @media screen and (max-width: 800px){
    img{margin-top: 20px;}}
</style>
