---
const { variant = "primary", size = "medium", placement = "index" } = Astro.props;
import Button from "../components/Button.astro";
---

<div class="grid_container">
  <div class="pointer">1.</div>
  <div class="text">Click on the button below</div>
</div>

<div class="grid_container">
  <div class="pointer">2.</div>
  <div class="text">Add the invite code below to join our community</div>
</div>
<Button variant="tertiary" size="medium" placement="tickets">JOINKUNE</Button>
<div class="grid_container">
  <div class="pointer">3.</div>
  <div class="text">Explore our world and get your tickets</div>
</div>
<Button variant="primary" size="medium" placement="index"><a class="cta" href="https://werz.at/c/kune">WERZ TICKETS</a></Button>
<p class="center">ALTERNATIVELY THROUGH RA</p>
<div class="grid_1-1">
  <img src="" alt="" />
  <a class="rat" href="https://ra.co/events/1580085">ResidentAdvisor Tickets</a>
</div>

<style>
  .pointer {
    font-size: 3rem;
    color: #090284;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .grid_container {
    margin-left: 10%;
    margin-bottom: 10%;
  }

  @media (min-width: 750px) {
    .grid_container {
      display: grid;
      grid-template-columns: 1fr 4fr;
      max-width: 500px;
      align-items: center;
      margin: 0 auto;
      padding: 20px 0px 20px 0px;
    }
    .text {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
    }
  }

  @media (max-width: 750px) {
    .grid_container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      margin: 0 auto;
      padding: 10px 25px 10px 25px;
    }

    .text {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
  }

  .center {
    padding-top: 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
    margin-top: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 200px;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0px 20px 0px;
  }

  .rat {
    font-size: 10px;
    text-align: end;
    text-decoration: underline;
    color: black;
  }

  .rat:visited {
    color: black;
  }

  .cta {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
  }
</style>
