<div class="grid_container">
  <div class="pointer">1.</div>
  <div class="text">Click on the button below</div>
  <div class="pointer">2.</div>
  <div class="text">Add the invite code below to join our community</div>
  <div class="pointer">3.</div>
  <div class="text">Explore our world and get your tickets</div>
</div>

<style>
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 600px;
    align-items: center;
  }

  .grid-item {
    display: flex;
  }

  .pointer {
    font-size: 3rem;
    color: #090284;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
</style>
