---
const { variant = "primary", size = "medium", placement = "index" } = Astro.props;
import Button from "../components/Button.astro";
---

<div class="grid_container">
  <div class="pointer">1.</div>
  <div class="text">Click on the button below</div>
</div>

<div class="grid_container">
  <div class="pointer">2.</div>
  <div class="text">Add the invite code below to join our community</div>
</div>
<Button variant="tertiary" size="medium" placement="tickets">JOINKUNE</Button>
<div class="grid_container">
  <div class="pointer">3.</div>
  <div class="text">Explore our world and get your tickets</div>
</div>
<Button variant="primary" size="medium" placement="index">JOINKUNE</Button>

<style>
   .pointer {
    font-size: 3rem;
    color: #090284;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .grid_container{

    margin-left: 10%;
    margin-bottom: 10%;
  }

@media (min-width:750px){
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 560px;
    align-items: center;
    margin: 0 auto;
  }
  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
}
</style>
